@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales Carmona */
@layer utilities {
    .text-shadow {
        text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    }

    /* Ocultar barra de scroll en carruseles */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
